h1 {
    text-align: center;
    background-color: mediumpurple;
    padding: 1rem;
}
body {
    text-align: center;
}
#Selection {
    border: blue dashed 3px;
    padding: 1rem;
    margin :1rem;
}
#Selection-date{
    border: blue dashed 3px;
    padding: 1rem;
    margin :1rem;
}

/*# devant le nom quand on dispose d'un ID", sinon un point . quand il s'agit d'une classe*/
#Resultats{
    border: cornflowerblue dashed 3px;
    padding: 1rem;
    margin :1rem;
}


/*pour supprimer les puces*/
ul {
    list-style-type: none;
}


/* permet de creer un espace de meme valeru entre chaque "enfants" du formulaire*/
form>*{
    margin :1rem;
}

tbody{

    background: antiquewhite;
}

table{
    margin: auto;
}